extends ../layout/index

block contenido
  div.py-10
    h1.text-center.font-extrabold.my-10.text-4xl.text-peri Bienes
      span.font-normal.text-black Raíces
    h2.text-center.font-extrabold.text-2xl= page

    // Contenedor principal del formulario
    div(
      class="mt-8 mx-auto max-w-5xl bg-white py-8 px-4 shadow-md rounded-lg"
    )
      // Contenido interno del cuadro en dos columnas
      div(
        class="grid grid-cols-1 md:grid-cols-2 gap-10 items-center"
      )
        // Imagen decorativa
        div
          img(
            src="https://i.pinimg.com/736x/e4/c9/a9/e4c9a9de5fef47777dd915a6b8f6bd40.jpg"
            alt="Decoración Bienes Raíces"
            class="rounded-lg shadow-md w-full"
          )

        // Formulario
        div
          // Mostrar errores si existen
          if errors
            div(class="max-w-md mx-auto mb-6")
              each error in errors
                div(class="bg-red-500 text-white p-4 rounded-md flex items-center justify-between mb-2 shadow-lg animate-fade-in")
                  p(class="text-sm font-bold")= error.msg
                  button(class="ml-2 bg-transparent border-0 text-white text-2xl hover:text-black focus:outline-none" onclick="this.parentElement.style.display='none'") &times;

          form.space-y-5(method="POST" action="/auth/newUser" noValidate)
            div
              label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold Nombre Completo:
              input#name.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(type="text" placeholder="Ej. Juanito Peréz" name="nombre_usuario" )
            div
              label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold Correo Electrónico:
              input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(type="email" placeholder="Ej. JuanitoPeréz@gmail.com" name="correo_usuario" )
            div
              label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold Contraseña:
              input#password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(type="password" placeholder="Mínimo de 8 caracteres" name="pass_usuario" )
            div
              label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold Confirmación de Contraseña:
              input#passwordConfirm.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(type="password" placeholder="Debe coincidir con la anterior" name="pass2_usuario" )

            div.flex.items-center.justify-between
              a.text-gray-500.text-xs(href="/auth/login" class="hover:underline decoration2 hover:decoration-peri") ¿Ya tienes cuenta? Inicia sesión
              a.text-gray-500.text-xs(href="/auth/passwordRecovery" class="hover:underline decoration2 hover:decoration-peri") Olvidé mi Contraseña
          
            // Botón de envío siempre visible
            input(class="w-full bg-winkle hover:bg-palePurple text-white font-bold py-3 cursor-pointer focus:outline-none" type="submit" value="Crear una Cuenta")

  // Script para ocultar los errores después de 7 segundos
  script.
    document.querySelectorAll('.bg-red-500').forEach(error => {
      setTimeout(() => {
        error.style.display = 'none';
      }, 7000);
    });
